@font-face {
    font-family: Flood;
    src: url("../fonts/Flood\ Std\ Regular.otf") format("opentype");
}

body {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/************************* HEADER **************************/

.main-header {
    display: grid;
    grid-template-areas: "head nav"
                         "button button";
    margin: 1rem 2rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.main-header__head {
    grid-area: head;
}

.main-header__brand {
    color: #354463;
    font-family:  Helvetica, sans-serif;
    font-size: 1.75rem;
    width: 50%;
}

.main-header__nav {
    display: inline-block;
    grid-area: nav;
    align-self: center;
}

.main-header__nav-items {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.main-header__nav-item {
    margin: 1rem 0 1rem 0;
}

.main-header__nav-item a {
    text-decoration: none;
    color: #354463;
    font-weight: lighter;
}

.main-header__donate-actions {
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    grid-column: span 2;
}

.main-header__donate-action {
    display: block;
    background-color: #C1F7D5;
    color: #354463;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5rem;
    padding: 0.5rem;
}

/*********************** SECTION 1 ****************************/

.main-content__issue {
    background-image: url(../assets/about-us/annie-spratt-427339-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.main-content__title {
    display: inline-block;
    font-family: 'Flood';
    font-size: 3rem;
    color: #ffffff;
    margin: 2rem;
    width: 50%;
}

.main-content__card {
    background-color: #ffffff;
    padding: 2rem 1rem 2rem 1rem;
    margin: 2rem;
    text-align: center;
    position: relative;
}

.main-content__card-title {
    display: inline-block;
    background-color: #354463;
    color: #ffffff;
    padding: 1rem;
    position: absolute;
    top: -2.5rem;
    right: calc(50% - 3.7rem);
}

.main-content__card-subtitle {
    width: 70%;
    color: #354463;
    text-align: center;
    margin: 1rem auto 0rem auto;
    line-height: 1.75rem;
}

/*********************** SECTION *******************************/

.mission {
    background-color: #354463;
    text-align: center;
    padding: 2rem;
    color: #ffffff;
}

.mission__title {
    display: inline-block;
    background-color: #ffffff;
    color: #354463;
    padding: 1rem 2rem 1rem 2rem;
}

.mission__tagline {
    color: #ffffff;
}

.mission__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
}

.mission__card {
    text-align: left;
    padding: 1rem 0 1rem 0;
}

.mission__image {
    height: 3rem;
}

.mission__heading {
    margin: 1rem 0.5rem 0.5rem 0;
}

.mission__desc {
    font-weight: lighter;
    line-height: 1.3rem;
}

/*********************** SECTION *******************************/

.team {
    text-align: center;
    padding: 2rem;
}

.team__title {
    display: inline-block;
    background-color: #354463;
    color: #ffffff;
    padding: 1rem 2rem;
}

.team__tagline {
    color: #354463;
}

.team__desc {
    color: #354463;
    padding: 1rem;
    line-height: 1.25rem;
    font-weight: lighter;
}

.team__people {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.team__person {
    background-color: #354463;
    color: #ffffff;
    margin: 1rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.team__image {
    width: 100%;
}

.team__name,
.team__designation {
    padding-left: 1rem;
    font-weight: lighter;
}

/*********************** SECTION *******************************/

.impact {
    background-image: 
                linear-gradient(rgba(53, 68, 99, 0.75), rgba(53, 68, 99, 0.75)), 
                url("../assets/about-us/Impact\ Background@2x.png");
    background-position: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 1rem;
    color: #ffffff;
}

.impact__title {
    display: inline-block;
    background-color: #ffffff;
    color: #354463;
    padding: 1rem 2rem;
}

.impact__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}

.impact__number {
    display: inline-block;
    font-family: Flood;
    font-size: 2.5rem;
    margin: 0;
}

.impact__desc {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    width: 40%;
}

/*********************** SECTION ******************************/

.carousel {
    background-color: #354463;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

.carousel__title {
    font-family: Flood;
    font-size: 3rem;
}

.carousel__item {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.carousel__heading {
    display: inline-block;
    color: #354463;
    background-color: #ffffff;
    padding: 1rem 2rem;
    position: relative;
    top: 2.5rem;
}

.carousel__card {
    background-color: #ffffff;
}

.carousel__image {
    width: 100%;
}

.carousel__card-title {
    color: #354463;
    padding: 1rem 2rem;
    margin: 0;
}

.carousel__card-desc {
    color: #354463;
    padding: 0 2rem 2rem 2rem;
    margin: 0;
}

.carousel > div {
    position: relative;
}

.carousel__shifter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #C1F7D5;
    border-radius: 10rem;
    padding: 0.5rem;
}

.carousel__shifter img {
    width: 100%;
}

.carousel__shifter--left {
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: rotate(180deg);
}

.carousel__shifter--right {
    position: absolute;
    top: 50%;
    left: calc(100% - 2rem);
}

.carousel__button-list {
    padding: 1rem;
    text-align: center;
}

.carousel__button {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    margin: 1rem 0.25rem;
    border-radius: 50%;
}

.carousel__button--selected {
    background-color: #354463;
    border: 2px solid #ffffff;
}

/*********************** SECTION ******************************/

.subscribe {
    background-color: #C1F7D5;
    padding: 1rem 2rem 2rem 2rem;
}

.subscribe h3 {
    font-size: 1.5rem;
    color: #354463;
}

.subscribe__form {
    text-align: center;
}

.subscribe__form--email {
    text-decoration: none;
    color: #354463;
    font-weight: lighter;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}

.subscribe__form--submit {
    border: none;
    color: #C1F7D5;
    background-color: #354463;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10rem;
}

/*********************** FOOTER *******************************/

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem 1fr;
    grid-template-areas: "brand contact"
                         "follow learn"
                         "empty stop";
    padding: 2rem 3rem 1rem 3rem;
}

.footer-section__brand {
    color: #354463;
    grid-area: brand;
    width: 60%;
}

.footer-section__contact-info {
    grid-area: contact;
    width: 80%;
    line-height: 1.75rem;
}

.footer-section__social-info {
    grid-area: follow;
}

.footer-section__title {
    color: #354463;
    font-weight: bold;
    font-family: Flood;
    grid-area: stop;
    text-align: right;
    font-size: 3rem;
}

.footer-section__learn-more {
    grid-area: learn;
}

.footer-section__empty {
    grid-area: empty;
}

.footer-section__info a {
    text-decoration: none;
    color: #00000029;
    text-decoration: underline;
}

.footer-section__info-title {
    font-size: 1rem;
    color: #354463;
    font-weight: normal;
}

.footer-section__link {
    color: #354463;
}
